* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* Home */
 
.blockTitleHome, .imageHome {
    animation: goIto 1.5s forwards ease-in-out;
}

.imageHome {
    animation-delay: 0.4s;
    opacity: 0;
}

@-webkit-keyframes goIto {
    0% {
        transform: scale(1.2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

p.descriptionTitleHome {
    font-size: 24px;
    color: #D0D1ED;
    margin-top: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.2;
    margin-bottom: 25px;
}

p.descriptionTitleHome+button {
    width: 165px;
    height: 46px;
    background: #1ACC8D;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 1px;
}

p.descriptionTitleHome+button:hover {
    background: #17B57D;
    color: white;
}

p.descriptionTitleHome+button:focus {
    box-shadow: none;
}

h1.titleHome span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background: #1ACC8D;
    left: 0;
    bottom: -8px;
}

h1.titleHome {
    margin-top: 285px;
    font-weight: 900;
    letter-spacing: 2px;
    color: #D0D1ED;
    font-size: 50px;
}

h1.titleHome span {
    color: #fff;
    position: relative;
    width: 100%;
    height: 100%;
}

article.brgHome::before {
    content: '';
    background: rgba(2, 5, 161, 0.91);
    width: 100%;
    height: 100%;
    position: absolute;
}

body, html {
    width: 100%;
}

article#Home {
    background: url('../Bootslander/assets/img/hero-bg.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 830px;
    position: relative;
}

article#Home img {
    margin-top: 90px;
    animation: up_down 2.2s alternate ease-in-out infinite;
}

@-webkit-keyframes up_down {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(30px);
    }
}

/* End home */

/*  navbar */

.headers {
    height: 70px;
    background: rgba(13, 10, 197, 0);
    transition: all 0.4s ease-in-out;
}

.scrollDown {
    height: 60px;
    background: rgba(1, 4, 136, 0.9) !important;
    transition: all 0.4s;
}

.headers .navbar-brand b {
    font-size: 30px;
    font-weight: 900;
}

.headers .navbar-nav li a.nav-link {
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    margin: 0 5px;
    position: relative;
    transition: all 0.4s;
}

.headers .navbar-nav li.nav-item:hover a.nav-link {
    color: white !important;
}

li.nav-item a.nav-link::after, .headers .navbar-nav li.nav-item a.nav-link.active::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 2px;
    background: #1ACC8D;
    left: 7px;
    bottom: 0;
    transition: all 0.4s;
    animation: leftRigt 0.4s forwards ease-out;
    opacity: 0;
}

.headers .navbar-nav li.nav-item a.nav-link.active::after {
    opacity: 1 !important;
}

li.nav-item a.nav-link::after {
    width: 0;
}

li.nav-item:hover a.nav-link::after {
    width: 25px;
    opacity: 1 !important;
}

i.fas.fa-angle-down {
    padding-left: 6px;
    font-size: 15px;
}

.headers .navbar-nav li.nav-item:nth-child(7) {
    position: relative;
}

.blockOne, .blockTwo {
    position: absolute;
    width: 180px;
    height: 226px;
    background-color: #fff;
    border-radius: 6px;
    padding: 26px 0 26px 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateY(-30px);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}

.blockOne .blockTwo {
    left: -180px;
    transform: translateX(23px) translateY(-18px);
}

.headers .navbar-nav li:nth-child(7):hover .blockOne {
    visibility: visible;
    transform: translateY(0);
    transition: 0.4s;
    opacity: 1;
}

.blockOne a {
    color: #01036fd9;
    font-weight: 700;
    text-decoration: none;
}

.blockOne a:hover {
    color: #22CE91;
}

.blockOne i {
    margin-left: 43px;
}

.blockOne span:nth-child(2):hover .blockTwo {
    visibility: visible;
    opacity: 1;
    transform: translateX(0) translateY(-18px);
}

/* End navbar */